@font-face {
    src: url(fonts/JosefinSans-Regular.ttf);
    src: url(fonts/Catamaran-Regular.ttf);
    src: url(fonts/CormorantGaramond-Regular.ttf);
    font-family: catamaran;
    font-family: jose-regular;
    font-family: CormorantGaramond;
    /* src: url(fonts/JosefinSans-Italic.ttf);
    font-family: jose-italic;
    src: url(fonts/JosefinSans-Thin.ttf);
    font-family: jose-thin;
    src: url(fonts/JosefinSans-Bold.ttf);
    font-family: jose-bold; */
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/



html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}



/* 
.index-h1 {
    color: #fff;
    font-size: 70px;
    margin: 0px;
    background-color: blue;
    text-align: center;
} */
#index-id {
    color: #fff;
    font-size: 70px;
    margin: 0px;
    background-color: blue;
    text-align: center;
}

/* p {
    color: chartreuse;
    background-color: rgb(0, 0, 0);
} */
/* body {
    background-color: #eee;
} */


div h2 {
    color: green;
}

.name {
    color: red;
}

.index-intro p {
    Background-color: #cccccc;
}

.title {
    font-family: Arial "New Times Roman";
    font-size: 100px;
    font-style: oblique;
    font-weight: 100;
    text-align: center;
    text-decoration: overline;
    text-indent: 0px;
    text-transform: capitalize;
    color: rgba(77, 0, 255, 1);
    letter-spacing: 0px;
    word-spacing: 40px;
}

#content {
    /* font-family: 'Poppins', sans-serif; */
    font-family: jose-regular;
    /* font-weight: 300; */
    text-indent: 20px;
    line-height: 60px;
    font-size: 35px;
}

.Menu-Bar {
    margin-left: 80px;
}

.Menu-Bar li {
    list-style: none;
    display: inline;
    float: left;
    line-height: 100px;
}

.Menu-Bar li a {
    text-decoration: none;
    font-size: 20px;
    font-family: jose-regular;
    color: #1e1e1e;
    padding: 0 20px;
    display: block;

}

.Menu-Bar li a:hover {
    color: cornflowerblue;

}

.Nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

/* main {
    padding-top: 100px;
} */

.wrapper {
    width: 1000px;
    margin: 0 auto;
    /* background-color: red; */
    background-image: url(./img/passportSize.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, left;


}

.img {
    width: 500px;

}

video {
    width: 100%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.wrap2 {
    width: 100%;
}

.img-banner {
    display: none;
}

.info {
    width: 100%;

}

.info h2 {
    padding: 30px 30px 20px;
    font-size: 50px;
    font-family: Arial;
    color: #111;
    line-height: 44px;
}

.info p {
    padding: 0px 30px 20px;
    font-size: 16px;
    font-family: Arial;
    color: #111;
    line-height: 24px;
}

.img-me {
    width: 100%;
}

@media only screen and (min-width:768px) {
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrap2 {
        width: 600px;
        margin: 0px auto;
    }

    .info h2 {
        padding: 20px 0 0;
    }

    .info p {
        padding: 20px 0px 0px;
    }

    .img-me {
        padding-top: 20px;
    }

}

@media only screen and (min-width:1000px) {
    .wrap2 {
        width: 1000px;
    }

    .info {
        width: 50%;
        float: right;
    }

    .info h2 {
        padding: 20px 0 0 30px;
    }

    .info p {
        padding: 20px 0 0 30px;
    }

    .img-me {
        padding-top: 0;
        width: 50%;
        float: left;
    }
}

/* My Website Code */
a {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-name {
    /* text-decoration: none; */
    font-family: catamaran;
    font-weight: 900;
    font-size: 24px;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    float: left;
    padding: 0 16px;
}

header nav ul li a {
    font-family: catamaran;
    /* font-weight: 900; */
    font-size: 16px;
    color: #111;
}

header .header-case {
    display: none;
}

.banner-header {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(img/IMG_2277_web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-container {
    display: table-cell;
    vertical-align: middle;
}

.banner-header h1 {
    font-family: catamaran;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.banner-header h2 {
    font-family: CormorantGaramond;
    font-weight: 100;
    font-size: 28px;
    font-style: italic;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    line-height: 40px;
}